#container-tags-user {
	background-color: #ACB6A6;
}

.user-tags .name-tag-slip:hover{
	cursor: pointer;
}

.user-tags .tag-slip:hover{
	color: #fff;
	background-color: #909D88;
}

.user-tags .selected-tag-slip .tag-slip{
	color: #fff;
	background-color: #61714d;
}

.user-tags .selected-tag-slip .tag-slip:hover{
	color: #fff;
	background-color: #61714d;
}

.row-name-clear {
	display: grid;
	grid-template-columns: auto 20px;
}

#clear-icon {
	/*margin: 24.28px 0 20.28px 0;*/
	margin: 24.78px 0 19.22px 0;
}

#clear-icon:hover {
	cursor: pointer;
}

#container-tags-user .panel-heading:hover{
	cursor: default;
	text-decoration: none;
}