#container-tags-user {
	background-color: #ACB6A6;
}

.user-tags .name-tag-slip:hover{
	cursor: pointer;
}

.user-tags .tag-slip:hover{
	color: #fff;
	background-color: #909D88;
}

.user-tags .selected-tag-slip .tag-slip{
	color: #fff;
	background-color: #61714d;
}

.user-tags .selected-tag-slip .tag-slip:hover{
	color: #fff;
	background-color: #61714d;
}

.row-name-clear {
	display: grid;
	grid-template-columns: auto 20px;
}

#clear-icon {
	/*margin: 24.28px 0 20.28px 0;*/
	margin: 24.78px 0 19.22px 0;
}

#clear-icon:hover {
	cursor: pointer;
}

#container-tags-user .panel-heading:hover{
	cursor: default;
	text-decoration: none;
}

.tag-form-create {
	box-shadow: -2px 4px 5px 2px rgb(0 0 0 / 10%);
	border-radius: 4px;
	font-size: 13px;
	/*font-size: 0.85rem;*/
	background-color: #fff;
	margin: 0 0 8px 0;
	/*padding: 13px 16px 13px 0;*/
	/*padding: 13px 0;*/
	min-width: 123px;
	display: grid;
	grid-template-columns: auto 50px;
}

.tag-form-create input {
	padding-left: 12px;
	margin-left: 4px;
	border-style: none;
	width: 97%;
	outline: none;
	border: none;
	background-color: transparent;
	font-family: 'PT serif', serif;
}

.tag-form-create input:hover {
	cursor: pointer;
}

#tag-form-create form label {
	display: none;
}

#button-create-tag {
	width: 24px;
	margin: 7px 7px;
	padding: 6px 0;
	border-radius: 4px;
	justify-self: end;
	/*color: #61714d;*/
	font-weight: bold;
	background-color: #61714d;
	color: #fff;
}

#button-create-tag:hover {
	cursor: pointer;
}

#tag-form-create .error-message {
	text-align: center;
	margin-bottom: 8px;
	color: #000;
}