#container-tags-user {
	background-color: #ACB6A6;
}

.user-tags .name-tag-slip:hover{
	cursor: pointer;
}

.user-tags .tag-slip:hover{
	color: #fff;
	background-color: #909D88;
}

.user-tags .selected-tag-slip .tag-slip{
	color: #fff;
	background-color: #61714d;
}

.user-tags .selected-tag-slip .tag-slip:hover{
	color: #fff;
	background-color: #61714d;
}