:root {
    --typeface-logo: 'Bodoni Moda', serif;
    --typeface-body: 'PT Serif', serif;
    --typeface-error: 'PT Sans', sans-serif;
    --fontcolor-error: #5c5c5c;
    --background-hover: #465237;
    --background-app: #bec8b3;
    --logo-size: 28px;
    --button-color: #61714d;
}

body {
    font-family: var(--typeface-body);
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

.error-message {
	color: var(--fontcolor-error);
	font-size: 0.875rem;
	font-family: var(--typeface-error);
}