:root {
    --typeface-logo: 'Bodoni Moda', serif;
    --typeface-body: 'PT Serif', serif;
    --typeface-error: 'PT Sans', sans-serif;
}

html {
	background-color: #bec8b3;
	height: 100vh;
	font-size: 100%;
}

body {
    font-family: var(--typeface-body);
    font-style: normal;
    font-weight: 400;
    color: #151515;
}

#homepage {
	display: grid;
	grid-template-rows: 80px 1fr 100px;

	position: absolute;
    left: 50%;
    transform: translate(-50%,0);

    height: 100%;
    width: 100%;
}

.error-message {
	color: #5c5c5c;
	font-size: 0.875rem;
	font-family: var(--typeface-error);
}