.image-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 144px;
    width: 144px;
    text-align: center;
    box-sizing: border-box;
    border: solid 1px lightgrey;
}

#upload-label {
    max-width: 72px;
    overflow: scroll;
    font-size: 24pt;
    width: 100%;
    cursor: pointer;
    flex-grow: 1;
    padding: 25%;
}

#upload-label:hover {
    color: white;
}

#upload-label input {
    display: none;
}

.placeholder-image-area,
.upload-form {
    background-color: lightgrey;
}

.filmstrip-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}