.dossier-name {
	list-style: none;
	width: 100%;
}

.dossier-name:hover {
	/*box-shadow: 0 1px #bec8b3;*/
	cursor: pointer;
}

#list-people { 
	padding: 0 1em;
}

#list-people li {
	font-size: 11pt;
	overflow-x: hidden;
	white-space: nowrap;
	/*display: block;*/
	text-overflow: ellipsis;
	/*color: #191919;*/
	text-shadow: -1px 2px rgb(0 0 0 / 5%);
}

#list-people li:hover {
	/*color: #ffffc0;*/
	/*color: #f7f8b4;*/
	color: #fff;
}

.selected-person li {
	/*color: #f7f8b4;*/
	/*color: #ffffc0;*/
	color: #fff;
}

#left-menu-head {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 21.28px;
	text-shadow: -1px 2px rgb(0 0 0 / 10%);
}

#left-menu-head h4 {
	padding-bottom: 0;
	margin-bottom: 0;
}

#left-menu-head #add-new {
	margin-bottom: -3px;
	font-size: 22px;
	font-weight: bold;
}

#left-menu-head #add-new:hover {
	cursor: pointer;
	color: white;
}