#dashboard {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: 50px 1fr;
	background-color: #bec8b3;
}

.panel-heading {
	text-shadow: -1px 2px rgb(0 0 0 / 10%);
}

#container-top-nav {
	background-color: #bec8b3;
	width: 100%;

	box-sizing: border-box;
    /*width: 100%;*/
    padding: 0 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#horizontal-panels-LR {
	width:  100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 3fr;
	/*background-color: #61714d;*/
}

#horizontal-panels-R{
	grid-template-columns: 1fr 2fr;
	display: grid;
}

.horizontal-panel {
	border: 1px solid #bec8b3;
	/*border-radius: 7px;*/
	background-color: #bec8b3;
	padding: 0 40px;
	height: 100vh;
	overflow: scroll;
	box-shadow: -2px 4px 5px 2px rgb(0 0 0 / 10%);
}

.horizontal-panel-R {
	background-color: #fff;
	border-radius: 7px;
}

.horizontal-panel-R button {
	/*background-color: transparent;
	color: #61714d;*/
	/*float: right;*/
	font-family: inherit;
	background-color: #61714d;
	color: #eee;
	height: 40px;
	min-width: 120px;
	font-size: 14px;
	line-height: 37px;
	text-align: center;
	text-decoration: none;
	letter-spacing: .5px;
	border-radius: 3px;
	border: 2px solid #61714d;
	padding: 0 10px;
}

.horizontal-panel-R button:hover {
	/*color: #465237;*/
	/*font-weight: 530;*/
	/*background-color: #bec8b3;*/
	background-color: #465237;
	border-color: #465237;
	cursor: pointer;
}

#container-navigation {
	background-color: #61714d;
	border-radius: 7px;
}

#horizontal-panel-large-R {
	/*background-color: #fff;*/
	/*border-radius: 7px;*/
}

#button-logout {
	background-color: #fff;
	color: #000;
	font-family: inherit;
	/*background-color: #61714d;*/
	/*color: #bec8b3;*/
	height: 40px;
	/*height: 1.5em;*/
	min-width: 120px;
	font-size: 14px;
	line-height: 37px;
	/*line-height: 1.5em;*/
	text-align: center;
	text-decoration: none;
	letter-spacing: .5px;
	border-radius: 7px;
	border: 2px solid #fff;
	padding: 0 10px;
}

#button-logout:hover {
	background-color: #61714d;
	border-color: #61714d;
	cursor: pointer;
	/*box-shadow: 0px 4px 5px 4px rgb(0 0 0 / 10%);*/
} 

#dashboard button {
	box-shadow: -1px 2px 7px 1px rgb(0 0 0 / 10%);
	text-shadow: -1px 2px rgb(0 0 0 / 10%);
}