#dashboard {

	--top-panel: 2;
	--middle-panel: 1;
	--bottom-panel: 0;

	position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);

	width: 98vw;
	max-width: 1788px;
	height: 98vh;
	max-height: 1080px;
	display: grid;
	grid-template-rows: 50px 1fr;
	background-color: var(--background-app);
}

#dashboard button {
	box-shadow: -1px 2px 7px 1px rgb(0 0 0 / 10%);
	text-shadow: -1px 2px rgb(0 0 0 / 10%);
}

#container-top-nav {
	background-color: var(--background-app);
	height: 50px;
	width: 100%;
	box-sizing: border-box;
    padding: 0 1px 0 16px ;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#dashboard-body {
	width: 100%;
	max-height: 700px;
	display: grid;
	grid-template-areas: 'left right main';
	grid-template-columns: 1fr 1fr 2fr;
}

.horizontal-panel {
	padding: 0 16px;
	height: 84vh;
	max-height: 1080px;
	overflow: auto;
	box-shadow: -2px 4px 5px 2px rgb(0 0 0 / 10%);
}

#container-left-menu {
	background-color: var(--background-main-menu);
	border-radius: 7px 0 0 7px;
	z-index: var(--top-panel);
}

#container-right-menu {
	grid-area: right;
	background-color: var(--background-secondary-menu);
	z-index: var(--middle-panel);
}

#container-main-view {
	grid-area: main;
	z-index: var(--top-panel);
}

#container-main-view button {
	font-family: inherit;
	background-color: var(--button-color);
	color: #eee;
	height: 40px;
	min-width: 120px;
	font-size: 14px;
	line-height: 37px;
	text-align: center;
	text-decoration: none;
	letter-spacing: .5px;
	border-radius: 3px;
	border: 2px solid var(--button-color);
	padding: 0 10px;
}

#container-main-view button:hover {
	background-color: var(--button-hover);
	border-color: var(--button-hover);
	cursor: pointer;
}

/*----------------------------------------------------------------------/

	Styles for Logout Button, from Auth Components

/----------------------------------------------------------------------*/

#button-logout {
	background-color: #fff;
	color: #000;
	font-family: inherit;
	height: 40px;
	min-width: 120px;
	font-size: 14px;
	line-height: 37px;
	text-align: center;
	text-decoration: none;
	letter-spacing: .5px;
	border-radius: 7px;
	border: 2px solid #fff;
	padding: 0 10px;
}

#button-logout:hover {
	background-color: var(--button-signout-hover);
	border-color: var(--button-signout-hover);
	cursor: pointer;
}