.splashpage-body-container {
    display: flex;
    flex-direction: column;
    /*height: 100%;*/
    /*width: 100%;*/
    align-items: center;
    background-color: #bec8b3;
    max-height: 400px;
}

#splashpage-header {
    /*font-size: 40px;*/
    font-weight: 500;
    /*color: #fff;*/
    margin: 48px 16px 16px 16px;
    text-align: center;
    min-width: 520px;
}

#splashpage-body {
    /*font-size: 40px;*/
    /*font-family: 'Bodoni Moda', serif;*/
    font-weight: 500;
    /*color: #fff;*/
    margin: 32px 16px 48px;
    text-align: center;
    min-width: 520px;
}

#splashpage-signup-button {
    font-size: 23px;
    color: #fff;
    background-color: #61714D;
    /*background-color: #83929f ;*/
    /*color: #000;*/
    border-color: transparent;
    display: inline-block;
    margin: 4px 0 48px 0;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    text-decoration: none;
    border-radius: 5px;
    padding: 11px 32px 12px;
    line-height: 1.2;
    text-decoration: none;
}

#splashpage-signup-button:visited {
    color: #fff;
}

#splashpage-signup-button:hover {
    background-color: #465237;
}

#splashpage-footer {
    margin-top: 10px;
    
    /*border-top: 1px solid #e8e8e8;*/
    /*padding: 50px 0;*/
    /*height: 8em;*/
    /*width: 100%;*/
    font-size: 16px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #909D88;
    /*border: 2px solid #61714D;*/
    border-radius: 7px;
    max-height: 50px;
}

.footer-nav-div {
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 400px;
    min-width: 140px;
}

.footer-nav-div li {
    list-style: none;
    display: inline;
    /*margin-top: 16px;*/
    margin: 16px 16px;
    text-align: center;
}

.footer-nav-div a {
    line-height: 24px;
    color: #151515;
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
    /*display: inline-block;*/
    position: relative;
}

.footer-link:hover {
    color: #000;
}

.nav-footer-header{
    font-weight: 700;
    /*color: #8b8b94;*/
    margin: 2px 0 8px;
}

.nav-footer-list{
    /*width: 100%;*/
    padding: 0 0;
}

.footer-container {
    /*background-color: inherit;*/
    /*width: 100%;*/
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
}
