/*----------------------------------------------------------------------/

    Splash Page

/----------------------------------------------------------------------*/

.splashpage {
    --header-height: 80px;
    --footer-height: 70px;
    --demo-max-width: 445px;
    --demo-min-width: 222px;
    --row-width: calc(var(--demo-max-width) * 2 + 16px);
    --signup-button-color: #41374c;
    --signup-button-hover-color: #5a4c6a;
}

/*----------------------------------------------------------------------/

    Splash Page Body

/----------------------------------------------------------------------*/

#splashpage-body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-app);
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

/*----------------------------------------------------------------------/

    Row 1 

/----------------------------------------------------------------------*/

#row-1 {
    display: grid;
    grid-template-columns: 1fr 16px 1fr;
    grid-template-areas: "demo . copy";
    margin-bottom: 16px;
    align-items: center;
}

#row-1-left {
    grid-area: demo;
    display: flex;
    flex-direction: row;
    max-width: var(--demo-max-width);
    min-width: var(--demo-min-width);
}

#row-1-right {
    grid-area: copy;
    max-width: var(--demo-max-width);
    display: flex;
    flex-direction: column;
}

#splashpage-img {
    max-width: var(--demo-max-width);
    min-width: var(--demo-min-width);
    align-self: top;
}

#splashpage-heading {
    font-family: var(--typeface-logo);
    font-size: 48px;
    text-align: center;
}

#row-1-right h3 {
    margin-top: 0;
}

#row-1-right p {
    text-align: left;
    margin-top: 0;
}

/*----------------------------------------------------------------------/

    Sign-Up Button

/----------------------------------------------------------------------*/

#splashpage-signup-button {
    font-size: 18px;
    background-color: var(--signup-button-color);
    color: #fff;
    display: inline-block;
    margin: 0px 0 16px 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    text-decoration: none;
    line-height: 1.2;
    text-decoration: none;

    min-width: 120px;
    line-height: 37px;
    letter-spacing: .5px;
    border-radius: 3px;
    border: 2px solid var(--signup-button-color);
    padding: 0 10px;
}

#splashpage-signup-button:visited {
    color: #fff;
}

#splashpage-signup-button:hover {
    background-color: var(--signup-button-hover-color);
    border-color: var(--signup-button-hover-color);
}

/*----------------------------------------------------------------------/

    Footer

/----------------------------------------------------------------------*/

#splashpage-footer {
    font-size: 16px;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    background-color: #fff;
    width: 100%;
    align-self: flex-end;
    margin-top: auto;
    padding: 8px 0;
}

.footer-nav-div {
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 400px;
    min-width: 140px;
}

.footer-nav-div li {
    list-style: none;
    display: inline;
    margin: 16px 16px;
    text-align: center;
}

.footer-nav-div a {
    line-height: 24px;
    color: #151515;
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
    position: relative;
}

.footer-link:hover {
    color: #000;
}

.nav-footer-header{
    font-weight: 700;
    margin: 2px 0 8px;
}

.nav-footer-list{
    padding: 0 0;
}

/*----------------------------------------------------------------------/

    Mobile Style

    Note: Width set to 
        - screen size of iPhone 12, 13 Pro Max, 428pt, or
        - size of demo row

/----------------------------------------------------------------------*/

@media screen and ((width < 428pt) or (width < 906px)) {
    #splashpage-heading {
        width: var(--demo-max-width);
        font-size: 32px;
    }

    #splashpage-body-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--background-app);
        min-height: calc(100vh - 
                         var(--header-height) - 
                         var(--footer-height));
    }

    #row-1 {
        display: flex;
        flex-direction: column;
    }

    #row-1-left {
        max-width: var(--demo-max-width);
        min-width: var(--demo-min-width);
        margin-bottom: 16px;
    }

    #row-1-right {
        max-width: var(--demo-max-width);
    }
}