.splashpage-body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bec8b3;
    min-height: calc(100vh - 80px);
}

#splashpage-img {
    max-width: 480px;
    margin-bottom: 16px;
}

#splashpage-header {
    font-weight: 500;
    margin: 48px 16px 16px 16px;
    text-align: center;
    min-width: 520px;
}

#splashpage-body {
    text-align: center;
    margin-top: 0;    
}

#splashpage-signup-button {
    font-size: 14px;
    background-color: #61714D;
    color: #fff;
    display: inline-block;
    margin: 0px 0 16px 0;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    text-decoration: none;
    line-height: 1.2;
    text-decoration: none;

    min-width: 120px;
    line-height: 37px;
    letter-spacing: .5px;
    border-radius: 3px;
    border: 2px solid #61714d;
    padding: 0 10px;
}

#splashpage-signup-button:visited {
    color: #fff;
}

#splashpage-signup-button:hover {
    background-color: #465237;
    border-color: #465237;
}

#splashpage-footer {
    font-size: 16px;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    background-color: #fff;
    width: 100%;
    align-self: flex-end;
    margin-top: auto;
    padding: 8px 0;
}

.footer-nav-div {
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 400px;
    min-width: 140px;
}

.footer-nav-div li {
    list-style: none;
    display: inline;
    /*margin-top: 16px;*/
    margin: 16px 16px;
    text-align: center;
}

.footer-nav-div a {
    line-height: 24px;
    color: #151515;
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
    position: relative;
}

.footer-link:hover {
    color: #000;
}

.nav-footer-header{
    font-weight: 700;
    /*color: #8b8b94;*/
    margin: 2px 0 8px;
}

.nav-footer-list{
    /*width: 100%;*/
    padding: 0 0;
}
