#person-form-read-edit {
	margin-top: 21.28px;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: stretch;
	max-width: var(--three-alphabets-11pt);
}

#person-form-read-edit #label-name {
	display: none;
}

#input-name input[type="text"] {
	font-family: 'PT Serif', serif;
	font-weight: bold;
	font-size: 1rem;
	width: 100%;
	padding: 0;
	justify-self: stretch;
}

#input-name input:hover {
	box-shadow: 0 1px #bec8b3;
	cursor: pointer;
}

#input-name input:focus {
	box-shadow: 0 1px #bec8b3;
}

.person-form-read-update-input input{
	border: none;
	outline: none;
}

#label-description {
	font-size: 0.85rem;
}

#input-description textarea{
	font-family: 'PT Serif', serif;
	border: none;
	outline: none;
	border-top: 1px solid #bec8b3;
	width: 100%;
	height: 50vh;
	overflow: auto;
	resize: none;
}

#input-description textarea:hover{
	cursor: pointer;
}

#container-formpersonru-buttons {
	/*display: inline-block;*/
	width: 100%;
	/*flex-direction: row;*/
	/*justify-content: flex-start;*/
	display: inline-grid;
	margin-bottom: 21.28px;
	grid-template-columns: 1fr 1fr;
}

.formpersonru-buttons {
	overflow: hidden;
	/*white-space: nowrap;*/
	/*overflow: auto;*/

}

#container-formpersonru-buttons #button-update {
	margin-right: 8px;
	margin-bottom: 21.28px;
}

#container-formpersonru-buttons .successfully-updated {
	padding-top: 1px; /* Displacement for text shifting upwards */
	background-color: var(--background-app-opposite);
	border: none;
}

#container-formpersonru-buttons .successfully-updated:hover {
	background-color: var(--background-app-opposite);
}

#container-formpersonru-buttons #button-delete {
	margin-left: 8px;
	max-width: auto;
}

.row-name-tag {
	display: grid;
	grid-template-columns: auto 20px;
}

#tag-icon {
	margin: 3px 0 3px 0;
	justify-self: end;
	color: #61714d;
}

#tag-icon:hover {
	cursor: pointer;
}