.global-header {
    position: relative;
    top: 0;
    width: 100%;
    background:  #fff;
    z-index: 999;
    border: 2px solid #fff;
    border-radius: 7px;
    display: flex;
    justify-content: center;
}

.top {
    box-sizing: border-box;
    width: 100%;
    max-width: 970px;
    padding: 0 16px;
    height: 80px;
    align-items: center;
    display: flex;
    position: relative;
}

.global-logo h2 {
    font-family: 'Bodoni Moda', serif;
    font-size: 28px;
}

.top .global-logo {
    display: inline-block;
    /*width: 177px;*/
    /*height: 40px;*/
    /*background-size: contain;*/
}

.top .utility-nav {
    display: inline-block;   
    margin-left: auto;
}

ul, ol, table {
    line-height: 21px;
    font-size: 13px;
}

.top .utility-nav li:first-child {
    margin-left: 0;
    margin-right: 16px;
}

.top .utility-nav li {
    font-size: 14px;
    display: inline-block;
    position: relative;
    /*vertical-align: middle;*/
}

.utility-nav p:hover {
    color: #465237;
    font-weight: 500;
}

.top img {
    /*height: 21px;*/
    height: 22px;
    width: auto;
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 4px;
    /*margin-right: 16px;*/
    /*margin-left: 16px;*/
}